#divCabecalho{
	width: 1000px;
	height: 280px;
	background-color: #F00;
	margin: auto;
	background-image:url("https://www.thewire.ch/data/files/Bildschirmfoto%202015-10-22%20um%2023.35.05.jpg");
}
#divMenu{
	width: 1000px;
	height: 50px;
	background-color: #EECBAD;
	margin: auto;
}
#divCorpo{
	width: 1000px;
	height: 300px;
	background-color: ;
	margin: auto;
}
#divRodape{
	width:1000px;
	height:150px;
	background-color:;
	margin: auto;
}
.itemMenu{
	text-transform: uppercase;
	margin-top:15px;
	margin-left:50px;
	color:#8B795E;
	float:left;
	width:15%;
	height:50px;
	font-size:20px;
}

	.itemMenu:hover{
		transition: 0.8s;
		color:#59462B;
	}
