body{
	margin: 0px;
	background-color: #ff6;
}

ul{
	list-style-type: none;
}

#sidebar{
	width: 350px;
	height: 850px;
	background-color: #000;
}

#avatar{
	width: 500px;
	height: 500px;
	border-radius: 70px;
	position: relative;
}