body{
	margin: 0px;
	background: #ff6;
}

ul, a{
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	letter-spacing: 1px;
	width: 585px;
	height: 100px;
	transition: 0.8s linear;
}

a:hover{
	letter-spacing: 3px;
	transition: 0.8s linear;
}

hr{
	width: 180px;
	margin-left: 230px;
	border-left: 1px solid #f3c;
	border-right: 1px solid #000;
	background: linear-gradient(to right, red , yellow);
}

#sidebar{
	width: 450px;
	height: 662px;
	background: linear-gradient(#f3c, #000, #000);
}

#avatar{
	width: 350px;
	height: 350px;
	border-radius: 70px;
	position: relative;
}

img{
	width: 150px;
	height: 150px;
	border-radius: 200px;
	margin-left: 260px;
	margin-top: 150px;
}

